body {
    background-color: #FFFFFF;
    font-family: "Open Sans", 'Raleway', 'Roboto';
    
}

a {
    text-decoration: none;
}

.logo {
    position: absolute;
        width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;
    
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #2196F3;        
}

span {
    color: #000000;
}