body {
    background-color: #FFFFFF;
    font-family: "Open Sans", 'Raleway', 'Roboto';

}

.webstudio {
position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #2196F3;
}

span {
    color: black;
}

a {
    text-decoration: none;
}

.header {
    position: absolute;
        width: 1600px;
        height: 80px;
        left: 0px;
        top: 0px;
}

.studia {
    position: absolute;
        width: 45px;
        height: 16px;
        left: 453px;
        top: 32px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #212121;
}

.link:hover {
    color: #2196F3;
}

.portfolio {
    position: absolute;
        width: 72px;
        height: 16px;
        left: 548px;
        top: 32px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #212121;
}

.contact {
    position: absolute;
        width: 64px;
        height: 16px;
        left: 670px;
        top: 32px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #212121;
}
.headertel {
    position: absolute;
        width: 122px;
        height: 16px;
        left: 1263px;
        top: 32px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #757575;
}

.headermail {
    position: absolute;
        width: 135px;
        height: 16px;
        left: 1078px;
        top: 32px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #212121;;
}

.hero {
position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;

    background: #2F303A;
}

.herotitle {
    position: absolute;
        width: 696px;
        height: 120px;
        left: 452px;
        top: 280px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        /* or 136% */
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: #FFFFFF;
}

.herobutton {
        position: absolute;
        width: 216px;
        height: 50px;
        left: 692px;
        top: 430px;
        
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}

.spisoktwo {
    position: absolute;
        width: 1170px;
        height: 98px;
        left: 215px;
        top: 774px;
}




.sectiontree {
    position: absolute;
        width: 1170px;
        height: 386px;
        left: 215px;
        top: 966px;
}

.box1 {
    position: absolute;
        width: 370px;
        height: 294px;
        left: 215px;
        top: 1058px;
}

.box2 {
    position: absolute;
        width: 370px;
        height: 294px;
        left: 615px;
        top: 1058px;
}
.sectionfour {
    position: absolute;
        width: 1600px;
        height: 648px;
        left: 0px;
        top: 1446px;
}

.footer {
    position: absolute;
        width: 1600px;
        height: 252px;
        left: 0px;
        top: 2094px;
    
        background: #2F303A;
}